main {
  width: 90%;
  max-width: 50rem;
  margin: 2.5rem auto;
  display: grid;
  grid-auto-flow: row;
  gap: 2rem;
}

#usuarios {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  overflow: auto;
}

/* Este es el texto que aparece si no hay nada seleccionado */
#textoCondicional {
  font-weight: bold;
  font-size: 1.15rem;
  margin: 0;
  text-align: center;
}

/* Regla para pantallas grandes (Tablets y Computadoras) */
@media (min-width: 768px) {
  main {
    margin: 4rem auto;
    /* Divide la pantalla: 1 parte para Sidebar, 3 partes para Contenido */
    grid-template-columns: 1fr 3fr;
  }

  #usuarios {
    flex-direction: column; /* En PC los usuarios se ven uno debajo de otro */
  }

  #textoCondicional {
    font-size: 1.5rem;
    text-align: left;
  }
}

#textoCondicional {
  text-align: center;
  font-size: 1.2rem;
  color: #a1a1a1;
  margin-top: 2rem;
}