<app-header></app-header>

<main>
  <ul id="usuarios">
    @for (u of usuarios; track u.id) {
      <li>
        <app-sidebar 
          [usuario]="u" 
          [estaSeleccionado]="u.id === idUsuarioSeleccionado"
          (seleccion)="alSeleccionarUsuario($event)">
        </app-sidebar>
      </li>
    }
  </ul>

  @if (usuarioSeleccionado) {
    <app-main-content [nombre]="usuarioSeleccionado.nombre" />
  } @else {
    <p id="textoCondicional">Selecciona un usuario de la lista</p>
  }
</main>