.main-layout {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el conjunto en la pantalla */
  width: 100%;
  background-color: #0f0a1e;
}

.body-container {
  display: flex;
  width: 1100px;        /* ¡ANCHO FIJO! Mismo que el header */
  margin-top: 40px;
  justify-content: flex-start; /* Alinea el sidebar a la izquierda */
  gap: 60px;            /* Espacio entre sidebar y nombre */
}
#usuarios {
  list-style: none; /* Quita los puntos de la lista */
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espacio entre cada tarjeta de usuario */
}

#usuarios {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}