<div class="sidebar-container">
  <div class="user-card active">
    <img src="img/avatar/mujer1.jpg" alt="Antonia">
    <span>Antonia Céspedes</span>
  </div>

  <div class="user-card">
    <img src="img/avatar/mujer2.jpg" alt="Emilia">
    <span>Emilia Torres</span>
  </div>

  <div class="user-card">
    <img src="img/avatar/hombre1.jpg" alt="Marcos">
    <span>Marcos Jeremías</span>
  </div>

  <div class="user-card">
    <img src="img/avatar/hombre2.jpg" alt="David">
    <span>David Mercado</span>
  </div>
</div>